[submodule "third_party/privilege-escalation-awesome-scripts-suite"]
	path = third_party/privilege-escalation-awesome-scripts-suite
	url = https://github.com/carlospolop/privilege-escalation-awesome-scripts-suite.git
[submodule "third_party/LinEnum"]
	path = third_party/LinEnum
	url = https://github.com/rebootuser/LinEnum
[submodule "third_party/static-binaries"]
	path = third_party/static-binaries
	url = https://github.com/andrew-d/static-binaries
[submodule "third_party/SharpCollection"]
	path = third_party/SharpCollection
	url = https://github.com/Flangvik/SharpCollection.git
