<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"><html>
<title>Toolbox</title>
<head>
    <link href="data:image/x-icon;base64,x" rel="icon" type="image/x-icon" />
</head>
<body>

<h2>Directory listing for /{{server_path}}</h2>
<hr>

<ul>
{%- for file in files %}
    <li><a href="{{file.path}}">{{file.name}}</a></li>
{%- endfor %}
</ul>
<hr>

{%- if server_path == '' %}
    <h2>Shells</h2>
    <hr>

    {%- for valid_shell_type in valid_shell_types %}
        <h3>{{ valid_shell_type }}</h3>
        <ul>
            <li><a href="/shells/{{valid_shell_type}}">/shells/{{valid_shell_type}}</a> - running on default host/port {{default_lhost}} {{default_lport}}</li>
            <li><a href="/shells/{{valid_shell_type}}/{{default_lport}}">/shells/{{valid_shell_type}}/4445</a> - custom port</a></li>
            <li><a href="/shells/{{valid_shell_type}}/{{default_lhost}}/{{default_lport}}">/shells/{{valid_shell_type}}/{{default_lhost}}/{{default_lport}}</a> - custom host and port</li>
        </ul>
    {%- endfor %}
{%- endif %}
</body>
</html>
